{% extends "dashboard.html" %}
{% block title %}
    Create {{object}}
{% endblock %}


{% block mainblock %}
<div class="module">
{% if message %}
    <p class='text-success'>{{object}} успешно добавлен!</p>
{% endif %}
{% if errors %}
    <p>Вы ввели неверые данные. Пожалуйста, попробуйте снова.</p>
{% elif form.errors %}
    <p>Вы ввели неверные данные. Пожалуйста, попробуйте снова.</p>
{% else %}
    <p>Введите данные для создания сущности <strong>{{object}}</strong>:</p>
{% endif %}
<div class="login-form">
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Создать"></p>
    </form>
</div>
</div>
{% endblock mainblock %}