{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}AdminPanel{% endblock %}</title>
<link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">AdminPanel</a>
        <ul class="menu">
        {% if request.user.is_authenticated %}
        <form action="#" method='post'>
            {% csrf_token %}
            <input type="submit" value='Выйти'>
        </form>
        {% else %}
            <li><a href="{% url "app:login" %}">Войти</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        // DOM-модель загружена
        {% block domready %}

        {% endblock %}
        })
    </script>
</body>
</html>