{% extends "base.html" %}
{% load metaname %}
{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<h1>Dashboard</h1>
<div class="contents">
    <h3>Сущности</h3>
    <ul id="modules">
        <li class={% if selected %}"selected"{% endif %} >
            <a href="{% url "app:users" %}">
                Users | Всего {{ users.count }}
            </a>
        </li>
        <li class={% if selected %}"selected"{% endif %} >
            <a href="#">
                Items | Всего {{ items.count }}
            </a>
        </li>
    </ul>
</div>

{% endblock %}

{% block mainblock %}

{% endblock mainblock %}