{% extends "dashboard.html" %}
{% block title %}
    Users
{% endblock %}


{% block mainblock %}
<div class="module">
    Добавить новую запись модели User
    <a href="{% url "app:create_user" %}" class="btn btn-success">Добавить</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Login</th>
            <th scope="col">Items</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td>
                    {% for item in items %}
                        {% if item.user == user %}
                            {% if forloop.last %}
                                {{item.name}}
                            {% else %}
                                {{item.name}},
                            {% endif %}
                        {% endif %}
                    {%empty%}
                        Нет значений
                    {% endfor %}

                </td>
                <td>
                    <a href="{% url "app:edit_user" user.id%}" class="btn btn-secondary">Изменить</a>
                    <a href="{% url "app:delete_user" user.id %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            {% endfor %}
</div>
{% endblock mainblock %}